<html>
<head>
  <title>Project Camelback</title>
</head>
<body>
<h1><%= MY_ORG_CAPITALIZE %></h1>
<%= "Loaded at #{@time}" %>
<h2>Private Repos</h2>
<% @client.org_repos(MY_ORGANIZATION, :type => 'private').each do |repo| %>
      <%= "<a href='https://github.com/#{repo.full_name}'>#{repo.name}</a><br>" %>
<% end %>
<h2>Public Repos</h2>
<% @client.org_repos(MY_ORGANIZATION, :type => 'public').each do |repo| %>
      <%= "<a href='https://github.com/#{repo.full_name}'>#{repo.name}</a><br>" %>
<% end %>
</body>
</html>